In [1]:
import geopandas as gp
import pandas as pd

In [2]:
df = pd.read_csv('../data/ons_postcode_data/Data/ONSPD_FEB_2023_UK.csv', low_memory=False)
df = df.loc[df['ctry'] == 'E92000001']
df = df[['pcd', 'pcd2', 'pcds', 'lat', 'long']]
df = df.reindex()

In [3]:
df.head()

           pcd      pcd2     pcds        lat      long
39104  AL1 1AA  AL1  1AA  AL1 1AA  51.749084 -0.341337
39105  AL1 1AB  AL1  1AB  AL1 1AB  51.747828 -0.301865
39106  AL1 1AD  AL1  1AD  AL1 1AD  51.747828 -0.301865
39107  AL1 1AE  AL1  1AE  AL1 1AE  51.747828 -0.301865
39108  AL1 1AF  AL1  1AF  AL1 1AF  51.749084 -0.341337

In [4]:
gdf = gp.GeoDataFrame(df, geometry=gp.points_from_xy(df.long, df.lat), crs='EPSG:4326')

In [5]:
gdf.head()

,pcd,pcd2,pcds,lat,long,geometry
39104,AL1 1AA,AL1 1AA,AL1 1AA,51.749084,-0.341337,POINT (-0.34134 51.74908)
39105,AL1 1AB,AL1 1AB,AL1 1AB,51.747828,-0.301865,POINT (-0.30186 51.74783)
39106,AL1 1AD,AL1 1AD,AL1 1AD,51.747828,-0.301865,POINT (-0.30186 51.74783)
39107,AL1 1AE,AL1 1AE,AL1 1AE,51.747828,-0.301865,POINT (-0.30186 51.74783)
39108,AL1 1AF,AL1 1AF,AL1 1AF,51.749084,-0.341337,POINT (-0.34134 51.74908)

In [7]:
gdf.to_file("output.json", driver="GeoJSON")