In [3]:
import geopandas as gp
import pandas as pd

In [5]:
df = pd.read_csv('../data/ons_postcode_data/Data/ONSPD_FEB_2023_UK.csv', low_memory=False)

In [6]:
df = df[['pcd', 'pcd2', 'pcds', 'lat', 'long']]

In [7]:
df.head()

       pcd      pcd2     pcds        lat      long
0  AB1 0AA  AB1  0AA  AB1 0AA  57.101474 -2.242851
1  AB1 0AB  AB1  0AB  AB1 0AB  57.102554 -2.246308
2  AB1 0AD  AB1  0AD  AB1 0AD  57.100556 -2.248342
3  AB1 0AE  AB1  0AE  AB1 0AE  57.084444 -2.255708
4  AB1 0AF  AB1  0AF  AB1 0AF  57.096656 -2.258102

In [8]:
gdf = gp.GeoDataFrame(df, geometry=gp.points_from_xy(df.long, df.lat), crs='EPSG:4326')

In [9]:
gdf.head()

       pcd      pcd2     pcds        lat      long                   geometry
0  AB1 0AA  AB1  0AA  AB1 0AA  57.101474 -2.242851  POINT (-2.24285 57.10147)
1  AB1 0AB  AB1  0AB  AB1 0AB  57.102554 -2.246308  POINT (-2.24631 57.10255)
2  AB1 0AD  AB1  0AD  AB1 0AD  57.100556 -2.248342  POINT (-2.24834 57.10056)
3  AB1 0AE  AB1  0AE  AB1 0AE  57.084444 -2.255708  POINT (-2.25571 57.08444)
4  AB1 0AF  AB1  0AF  AB1 0AF  57.096656 -2.258102  POINT (-2.25810 57.09666)

In [ ]:
gdf.plot()